<ion-header>
  <ion-navbar>
    <ion-title>
      Aposta aí, bro!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <!-- <form #aposta="ngForm" (ngSubmit)="onSubmit(aposta)">
    <ion-list>
      <ion-item>
        <ion-label>Etapa</ion-label>
        <ion-select name="id_Etapa" ngModel #campeao="ngModel">
          <ion-option *ngFor='let e of etapas' value={{e.list._id}}>{{ e.list.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Campeão</ion-label>
        <ion-select name="id_Campeao" ngModel required #campeao="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Vice</ion-label>
        <ion-select name="id_Vice" ngModel required #vice="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Terceiro Colocado</ion-label>
        <ion-select name="id_T1" ngModel required #t1="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Terceiro Colocado</ion-label>
        <ion-select name="id_T2" ngModel required #t2="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Nickname:</ion-label>
        <ion-input name='nickname' placeholder='Seu nome sem espaço' ngModel required #nickname="ngModel" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input name='email' [(ngModel)]='apostador.email' required #email="ngModel" minlength='7' type="email">
        </ion-input>
      </ion-item>

    </ion-list>
    <button class="btn-verde" ion-button full [disabled]="!aposta.valid" type="submit">SALVAR APOSTA</button>
  </form> -->

  <ion-card>
    <img src="../../assets/imgs/Margaret.jpg" />
    <ion-card-content>
      <ion-card-title>
        Margaret River - EVENTO ON!!
      </ion-card-title>
      <p>
        O oeste selvagem da Austrália recebe a quarta etapa do Circuito Mundial e alguns picos podem sediar o evento de Margaret River. No Main Break, volumosas ondas oceânicas pedem um surf de borda afiado e corajoso. The Box tem caixotes tubulares para a direita que quebram em cima de uma laje. A onda é pesada e difícil de surfar. Já a mítica onda de North Point apresenta tubos longos e perfeitos para a direita quando quebra clássica. 

        A etapa gerou muito polêmica no ano passado por conta de ataques de tubarão na região. Muitos surfistas se posicionaram contra a continuidade do evento e a WSL transferiu a etapa para Uluwatu.<b>Atual Campeão</b> -  William Cardoso
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
