<ion-header>
  <ion-navbar>
    <ion-title>
      Aposta aí, bro!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <form #aposta="ngForm" (ngSubmit)="onSubmit(aposta)">
    <ion-list>
      <ion-item>
        <ion-label>Etapa</ion-label>
        <ion-select name="id_Etapa" ngModel #campeao="ngModel">
          <ion-option *ngFor='let e of etapas' value={{e.list._id}}>{{ e.list.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Campeão</ion-label>
        <ion-select name="id_Campeao" ngModel required #campeao="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Vice</ion-label>
        <ion-select name="id_Vice" ngModel required #vice="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Terceiro Colocado</ion-label>
        <ion-select name="id_T1" ngModel required #t1="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Terceiro Colocado</ion-label>
        <ion-select name="id_T2" ngModel required #t2="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Nickname:</ion-label>
        <ion-input name='nickname' placeholder='Seu nome sem espaço' ngModel required #nickname="ngModel" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input name='email' [(ngModel)]='apostador.email' required #email="ngModel" minlength='7' type="email">
        </ion-input>
      </ion-item>

    </ion-list>
    <button class="btn-verde" ion-button full [disabled]="!aposta.valid" type="submit">SALVAR APOSTA</button>
  </form> 

  <ion-card>
    <img src="../../assets/imgs/JBay.jpg" />
    <ion-card-content>
      <ion-card-title>
        J Bay
      </ion-card-title>
      <p>
        A direita dos sonhos. Localizada na África do Sul, Jeffreys Bay é uma das ondas mais icônicas do planeta.
        Considerado o point break de direita mais extenso e perfeito do mundo, JBay apresenta nada menos que 10
        diferentes seções: Kitchen Windows, Magnatubes, Boneyards, Supertubes, Impossibles, Salad Bowls, Coins, Tubes,
        The Point e finalmente Albatross. Nos dias clássicos, o surfista pode percorrer até 1 km na onda, emendando de
        Boneyards até The Point.

        Ao mesmo tempo que parece perfeita, essa é uma onda que pede muita leitura quando o assunto é surf performance.
        Uma manobra extensa demais e você pode ficar para trás. Nos últimos anos, Filipe Toledo vem redefinindo as
        linhas de surf nesse pico chega em 2019 defendendo o bicampeonato consecutivo.

        Vale lembrar que por ali os surfistas dividem o line-up com os tubarões e em 2015 a etapa foi paralisada na
        final depois que Mick Fanning quase foi atacado por um grande tubarão branco.
        <b>Atual Campeão</b> -
        Felipe Toledo
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
