<ion-header>
  <ion-navbar>
    <ion-title>
      Aposta aí, bro!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


 <!-- <form #aposta="ngForm" (ngSubmit)="onSubmit(aposta)">
    <ion-list>
      <ion-item>
        <ion-label>Etapa</ion-label>
        <ion-select name="id_Etapa" ngModel #campeao="ngModel">
          <ion-option *ngFor='let e of etapas' value={{e.list._id}}>{{ e.list.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Campeão</ion-label>
        <ion-select name="id_Campeao" ngModel required #campeao="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Vice</ion-label>
        <ion-select name="id_Vice" ngModel required #vice="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Terceiro Colocado</ion-label>
        <ion-select name="id_T1" ngModel required #t1="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Terceiro Colocado</ion-label>
        <ion-select name="id_T2" ngModel required #t2="ngModel">
          <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Nickname:</ion-label>
        <ion-input name='nickname' placeholder='Seu nome sem espaço' ngModel required #nickname="ngModel" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input name='email' [(ngModel)]='apostador.email' required #email="ngModel" minlength='7' type="email">
        </ion-input>
      </ion-item>

    </ion-list>
    <button class="btn-verde" ion-button full [disabled]="!aposta.valid" type="submit">SALVAR APOSTA</button>
  </form>  -->

  <ion-card>
    <img src="../../assets/imgs/Saquarema.jpg" />
    <ion-card-content>
      <ion-card-title>
        Saquarema - EVENTO ON!!!
      </ion-card-title>
      <p>
        Considerada uma das ondas mais pesadas do Brasil, Saquarema sedia a etapa brasileira do CT desde 2017. O
        palanque principal fica em Itaúna, com esquerdas extensas que possibilitam muitas manobras. Outra opção é a
        Barrinha, no lado direito da praia, com seus tubos rápidos e potentes. No ano passado o evento foi contemplado
        com boas ondulações e acabou sendo uma das etapas com as melhores ondas da temporada do CT.

        Além disso, Saquarema tem muita relevância histórica para o surf nacional. Ali foram realizados os famosos
        festivais de Surf e Música, que agitaram a cena da contracultura brasileira em plena ditadura militar.
        <b>Atual Campeão</b> -
        Felipe Toledo
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
