<ion-header>
  <ion-navbar>
    <ion-title>
      Consultar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf='consulta'><button ion-button full (click)="novaConsulta()">Nova Consulta</button></div>

  <div *ngIf='!consulta'>
    <form #email="ngForm" (ngSubmit)="onSubmit(email)">
      <ion-list>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input name='email' ngModel required #email="ngModel" minlength='7' type="email"></ion-input>
        </ion-item>
      </ion-list>
      <button class="btn-save-bet" ion-button full [disabled]="!email.valid"  type="submit">Consultar Apostas</button>
    </form>
  </div>


  <div *ngIf='consulta'>
    <ion-card *ngFor='let c of aposta.list'>
      <ion-card-header>
        {{c.apostador.nickname}}
      </ion-card-header>
      <ion-card-content>
        <b>Campeão</b><span>{{c.id_Campeao}}</span><br>
        <b>Vice</b><span>{{c.id_Vice}}</span><br>
        <b>Terceiro 1</b><span>{{c.id_T1}}</span><br>
        <b>Terceiro 2</b><span>{{c.id_T2}}</span>
        <!-- <button class="btn-save-bet" ion-button full (click)='ActiveEdit()'>Salva /r Apostar</button> -->
      </ion-card-content>
      <!-- <page-editar-aposta [idAposta]="c._id"></page-editar-aposta> -->

    </ion-card>

  </div>


</ion-content>
