<ion-header>
  <ion-navbar>
    <ion-title>
      Editar Apostas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf='consulta'><button class="btn-cinza" ion-button full (click)="novaConsulta()">Nova Consulta</button></div>
  <div *ngIf='consulta'><button class="btn-cinza" ion-button full (click)="edita()">Editar</button></div>


  <div *ngIf='!consulta'>
    <form #email="ngForm">
      <ion-list>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input name='email' ngModel required #email="ngModel" minlength='7' type="email"></ion-input>
        </ion-item>
        <button class="btn-cinza" ion-button full [disabled]="!email.valid" (click)="consultar(email)">Consultar Apostas</button>
      </ion-list>
    </form>
  </div>


  <div *ngIf='consulta'>
    <ion-card *ngFor='let c of aposta.list'>
      <ion-card-header>
        {{c.nickname}} 
      </ion-card-header>
      <ion-card-content>
        <b>Campeão</b><span>{{c.id_Campeao}}</span><br>
        <b>Vice</b><span>{{c.id_Vice}}</span><br>
        <b>Terceiro 1</b><span>{{c.id_T1}}</span><br>
        <b>Terceiro 2</b><span>{{c.id_T2}}</span><br><br>
        <small>Id Aposta</small> <small style="float:right;">{{ c._id }}</small>
        <!-- <button class="btn-save-bet" ion-button full (click)='ActiveEdit()'>Salva /r Apostar</button> -->
      </ion-card-content>
      <!-- <page-editar-aposta [idAposta]="c._id"></page-editar-aposta> -->
    </ion-card>
  </div>

<div *ngIf='viewEdit'>
    <form #editar="ngForm" (ngSubmit)="onSubmit(editar)">
        <ion-list>
            <ion-item>
                <ion-label>Id Aposta</ion-label>
                <ion-select  name="_id" ngModel required #idAposta="ngModel">
                  <ion-option *ngFor='let c of aposta.list' value={{c._id}}>{{ c._id }}</ion-option>
                </ion-select>
              </ion-item>
            <ion-item>
                <ion-label>Etapa</ion-label>
                <ion-select  name="id_Etapa" ngModel required #campeao="ngModel">
                  <ion-option *ngFor='let e of etapas.list' value={{e._id}}>{{ e.name }}</ion-option>
                </ion-select>
              </ion-item>
          <ion-item>
            <ion-label>Campeão</ion-label>
            <ion-select  name="id_Campeao" ngModel required #campeao="ngModel">
              <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
            </ion-select>
          </ion-item> 
    
          <ion-item>
            <ion-label>Vice</ion-label>
            <ion-select name="id_Vice" ngModel required #vice="ngModel">
              <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
    
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label>Terceiro 1</ion-label>
            <ion-select name="id_T1" ngModel required #t1="ngModel">
              <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
    
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label>Terceiro 2</ion-label>
            <ion-select name="id_T2" ngModel required #t2="ngModel">
              <ion-option *ngFor='let s of surfistas.list' value="{{s._id}}">{{ s.name }}</ion-option>
    
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label>Nome:</ion-label>
            <ion-input name='nickname' placeholder='Seu nome sem espaço' ngModel required #nickname="ngModel" type="text"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input name='email' ngModel required #email="ngModel" minlength='7' type="email"></ion-input>
          </ion-item>
    
        </ion-list>
        <button class="btn-cinza" ion-button full [disabled]="!editar.valid" type="submit">Salvar Apostar</button>
      </form>
    
</div>

</ion-content>
