page-home {

}

.img-logo {
    width: 32%;
}

.carousel-inner {
    margin-top: 1.5rem
}

span {
    float: right;
}

.size-label-ranking {
    font-size: 1.3rem
}

ion-item-group {
    margin-top: 1.5rem
}