page-home {

}

.img-logo {
    width: 32%;
    margin-top: 5px
}

.carousel-inner {
    margin-top: 1.5rem
}

span {
    float: right;
}

.size-label-ranking {
    font-size: 1.3rem
}

ion-item-group {
    margin-top: 1.5rem
}

.fab {
    display: inline;
    font-size: 1rem
}    

h5 {
    display: inline ;
}