<!--
  Generated template for the RankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ranking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="btns-ranking">
    <button class="btn-small" ion-button small (click)='goldCoast()'>J Bay</button>
    <!-- <button class="btn-small" ion-button small (click)='bells()'>Bells</button> -->
  </div>


  <ion-item-group *ngIf='GoldCoastView'>
    <ion-item-divider color="light">Ranking J Bay</ion-item-divider>
    <ion-item *ngFor='let e of apostasGold' class="size-label-ranking">{{ e.nickname }}
      <span>{{ e.points }}</span>
    </ion-item>
  </ion-item-group>

  <!-- <ion-item-group *ngIf='BellsView'>
    <ion-item-divider color="light">Ranking Bells Beach</ion-item-divider>
    <ion-item *ngFor='let e of apostasBells' class="size-label-ranking">{{ e.nickname }}
      <span>{{ e.points }}</span>
    </ion-item>
  </ion-item-group> -->

</ion-content>
